.container5{
    display: flex;
    justify-content: center;
    margin: 10px 100px;
}

.container5__1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    background-color: chocolate;
    padding: 20px;
    border-radius: 5px;
}

.container5__title{
    display: flex;
    font-size: 40px;
    font-weight: bold;
}

.container5__info{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.subscrever{
    display: flex;
    background-color: brown;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    justify-content: center;
    font-size: 20px;
}
.eating__img{
    height: 350px;
}

.container5__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 100px;
}

.logo__footer{
    display: flex;
    width: 70px;
}

.logo__copy{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo{
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
}

.numero{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select{
    display: flex;
    position: relative;
}

.select .select{
    display: none;
}

.select-hide {
    display: none;
}

.email{
    display: flex;
    flex-direction: column;
}

.input{
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 6px;
    width: 200px;
    font-size: 13px;
}